@charset "utf-8";
body {
    font-family: 'PT Sans', sans-serif;
     background-color: #ccff99;
    /* color: #333;  */
    margin:10px 0;
    padding: 0;
    text-align: center;
}
/* nav ul li{
    display: inline-block;
    clear: both; */
}
#conteneur{
    width: 770px; /*largeur*/
    margin:0 auto; /*la marge exterieur centrée dans le body*/
    border: 2px solid #ab4;/*bordure exterieur*/
    background-color: #fff;
    text-align: left;
}
/* header h1{
    height: 250px;
    color: #ccff99;
} */