@charset "utf-8";
/*CSS document */

/* ma premiere feuille de style */

/* des styles simples pour visualiser les div */

.fond_orange{
    background: orange
}
.fond_rouge{
    background: red;
}

.fond_vert{
    background:green;
}
.fond_bleu{
    background: blueviolet;
}
.fond_gris{
    background: gray;
}
body{
    margin: auto; /* la marge extérieur d'un élément */
    /* background-color: paleturquoise; */
     /* background: linear-gradient(#FF0,#00f,#059); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('https://apod.nasa.gov/apod/image/1711/SpiralCloud_Juno_960.jpg') repeat-x, url('https://apod.nasa.gov/apod/image/1711/horizon2horizonJFGraffand.jpg')  repeat-x;
}
/* le haut de page */
header{
    /* background: url("../img/panora_1.jpg") center center no-repeat; */
    height: 410px; /*hauteur de l'élément*/
    border:2px solid whitesmoke;
    background: url("../img/panora_1.jpg") center center no-repeat,  linear-gradient(lightskyblue, whitesmoke);
}
/* le coté de la page */
aside{
    width: 240px; /*largeur de l'élément*/
    float: left;
    padding: 20px;
}  
/* le contenu principale */
#main{
    width: 880px;
    float: right;
    padding: 10px; 
}
.clear{
    clear: both;
}
/* le pied de page */
footer{
    height:200px; /*hauteur de l'élément*/
    border:20px solid peru;   /*berdure de l'élément: widht style color*/    
}
/* l'embalage de toute la page */
#wrapper{
    width: 1200px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    letter-spacing: 5px;
}
h1{
    text-align: center; 
}
nav ul li{
    list-style-type: none;
     line-height: 30px; 
}
form{
    background: whitesmoke;
    padding: 10px;
}
fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid olive;
}
legend{
    font-weight: 800;
    color:olivedrab;
}
label{
    background-color: wheat;
    color: violet;
    display: block;
    margin-top: 10px;
}
label.inline{
    display: inline;
    margin-right: 50px;
}
input, textarea, select{
    border: 1px solid olive;
    padding:3px;
    box-shadow: 5px 1px 2px red ;
}
table, td, th{
    border: 2px solid black;
    border-collapse: collapse;
    width: 600px;
}
td, th{
    padding: 10px;          
}
th, tfoot{
    text-align: left;
    background: orangered;
    color: whitesmoke;  
}
tr:hover {
    background-color: yellowgreen;
}
caption, th, tfoot{
    text-align: left;
    background: orangered;
    border: 2px solid black;
    padding:3px;

}
caption{
    caption-side: top;
    text-transform:  uppercase;
}
.filetgauche{
    border-left: 3px  solid blanchedalmond;
}
.cartouche {
    border: 1px solid orange;
    border-radius: 100px;
    padding:25px;
}
 /* les pseudos class */
 /* Quand le lien n'est pas visité */
 a:link{
     color: orange;
 }
/* Quand le lien a été visité */
a:visited{
    color:lime;
}
/* Au survol de la souris */
a:hover{
    color:whitesmoke;
    background: greenyellow;
}
/* Ici pour l'astuce au survol dans la page texte */
#survol p{
    display:none;
    background-color: olive;
    padding: 20px;
    border-radius: 50%;
}
#survol:hover p {
    display:inline;
}
/* #survol:hover p {
    display:inline;
 .survol {
    list-style-type: none;
    list-style-image: url(../img/globe_fleche.png);
} */
tr:nth-child(2n){
    background: olive; 
}
.droite{
    text-align: right;
}
