@charset "utf-8";
body {

    background-color: rosybrown;
    color: #333;
}
#conteneur {
    width: 80%; /*largeur */
    margin: 0 auto;/*la marge exterieur*/
    border: 2px solid #fff;
}
header{
    height: 100px;
    background-color: #8e3557;
}
nav {
    background: #4a1a2c;
    height: 30px;
}
section{
    background: #787746; /*l'arrière plan*/
    height: 500px; /*Hauteur*/
    margin:20px
}
footer{
    background: #4a1a2c;
    height: 100px 
}
.a, .b, .c, .d{
    width: 50%;
    height: 250px;
    float: left;
}
.a{
    background: aliceblue;
}
.b{
    background: lightcoral;
}
.c{
    background: lightgreen;
}
.d{
    background: lightslategray;
}
.clear{
    clear: both;
}